.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fdeefd
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;

  mat-card-header {
    text-align: center;
    mat-card-title {
      font-size: 1.8rem;
      font-weight: bold;
    }
  }

  .full-width {
    width: 100%;
    margin-top: 15px;
  }

  button.full-width {
    margin-top: 25px;
    padding: 10px;
    font-size: 1rem;
  }
}
