<mat-card class="bulletin-card">
  <mat-card-header>
    <mat-card-title>{{ bulletin.title }}</mat-card-title>
    <mat-card-subtitle class="date">
      {{ bulletin.date | date : "mediumDate" }}
    </mat-card-subtitle>

    @if(userId() == bulletin.userId){
    <div class="actions">
      <button
        mat-icon-button
        color="warn"
        (click)="deleteBulletin(bulletin.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="openEdit(bulletin)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    }
  </mat-card-header>

  <mat-card-content>
    <p>{{ bulletin.description }}</p>
  </mat-card-content>
</mat-card>
