.bulletin-card {
  width: 200px;
  margin: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.bulletin-title {
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;   /* שורה אחת בלבד */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;          /* אורך מרבי (אפשר לשנות) */
}

.mat-card-image {
  max-height: 150px;
  object-fit: cover;
}

.divider {
  border: none;
  border-top: 1px solid #ddd; /* פס דק מעל התיאור */
  margin: 12px 0;
}

.bulletin-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.4;
  max-width: 250px;
  display: -webkit-box;        /* דרוש עבור ellipsis מרובה שורות */
  -webkit-line-clamp: 2;       /* מספר השורות המקסימלי */
  -webkit-box-orient: vertical;/* הכיוון האנכי של הקופסה */
  overflow: hidden;             /* חיתוך מעבר לגבול */
  text-overflow: ellipsis;      /* הוספת ... בסוף */
}

.actions {
  display: flex;
  justify-content: flex-end;
}
