<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
   <mat-card-title class="bulletin-title">{{ bulletin.title }}</mat-card-title>
    <mat-card-subtitle class="date">
      {{ bulletin.date | date : "mediumDate" }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="bulletin-description">
      <hr class="divider" />
    <p>
   {{ bulletin.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
     @if(userId() == bulletin.userId){
    <div class="actions">
      <button
        mat-icon-button
        color="warn"
        (click)="deleteBulletin(bulletin.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="openEdit(bulletin)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    }
  </mat-card-actions>
</mat-card>