.toolbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filters-container {
  display: flex;
  gap: 12px;
  margin-inline-start: auto;
  align-items: center;
}

::ng-deep .mat-grid-list {
    position: static !important;
    direction: rtl;
}
