.page-title {
  text-align: center;
  margin: 24px 0;
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  color: #ffffff; 
  padding: 15px 30px;
  border: 4px solid #d2198b;
  border-radius: 12px;
  background: rgba(226, 103, 161, 0.85); 
  box-shadow: 0 6px 15px rgba(0,0,0,0.3); 
  display: inline-block;
  margin-bottom: 30px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: block;
}

.card-background {
    background: linear-gradient(135deg, #f6e5ef);
    direction: rtl;

}

